@charset "UTF-8";

@import './foundation';
@import './layout';
@import './objects';

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.watermark {
  color: rgb(255, 255, 255);
  opacity: .5;
  padding-left: 7px;
  padding-right: 7px;
  background-color: rgba(0, 0, 0, .8);
  bottom: -10px;
  left: -10px;
  border-bottom: 5px solid #cecece;
}

.leaflet-bottom {
  left: 0;
  bottom: 0;
}

.hoge {
  border-bottom-color: #237201;
}
