# dependencies
node_modules/

# production
public/

# logs
*.log

# Optional eslint cache
.eslintcache

# IDE
.idea/

# misc
.DS_Store

# prod
aws/public/
aws/certs/
aws/*.sh

# vscode
.vscode/chrome
