@charset "UTF-8";

@import '../../foundation/index';

$gap: 5px;

@for $i from 0 to 16 {
  .u-mb#{$i * strip-unit($gap)} {
    margin-top: $i * $gap;

    &-pc {
      @include view-at(p) {
        margin-top: $i * $gap;
      }
    }

    &-sp {
      @include view-at(s) {
        margin-top: $i * $gap;
      }
    }
  }
}
