@charset "UTF-8";

@import '../../foundation';

.u-weight-bold {
  font-weight: $font-weight-bold;
}

.u-weight-normal {
  font-weight: $font-weight-normal;
}

.u-weight-light {
  font-weight: $font-weight-light;
}

.u-weight-bold-pc {
  @include view-at(p) {
    font-weight: $font-weight-bold;
  }
}

.u-weight-normal-pc {
  @include view-at(p) {
    font-weight: $font-weight-normal;
  }
}

.u-weight-light-pc {
  @include view-at(p) {
    font-weight: $font-weight-light;
  }
}

.u-weight-bold-sp {
  @include view-at(s) {
    font-weight: $font-weight-bold;
  }
}

.u-weight-normal-sp {
  @include view-at(s) {
    font-weight: $font-weight-normal;
  }
}

.u-weight-light-sp {
  @include view-at(s) {
    font-weight: $font-weight-light;
  }
}
