@charset "UTF-8";

$duration-pulse: 2s;
$iteration-pulse: infinite;

@mixin opacity-pulse ($colour-name, $colour) {
  @keyframes opacity-pulse-#{$colour-name} {
    0% {
      opacity: .1;
      fill: $colour;
    }

    50% {
      opacity: 1;
      fill: $colour;
    }

    100% {
      opacity: .1;
      fill: $colour;
    }
  }
}

@include opacity-pulse('contessa', $colour-contessa);
@include opacity-pulse('yellow', $colour-yellow);

.p-custom-marker {
  & .ring-inner {
    opacity: 0;

    &[aria-label='warning'] {
      animation: opacity-pulse-contessa $duration-pulse cubic-bezier(.4, .74, .56, .82) $iteration-pulse;
    }

    &[aria-label='caution'] {
      animation: opacity-pulse-yellow $duration-pulse cubic-bezier(.4, .74, .56, .82) $iteration-pulse;
    }

    &[aria-hidden='true'] {
      display: none;
    }
  }

  & .ring-outer {
    opacity: 0;

    &[aria-label='warning'] {
      animation: opacity-pulse-contessa $duration-pulse  cubic-bezier(1, .14, 1, 1) $iteration-pulse;
    }

    &[aria-label='caution'] {
      animation: opacity-pulse-yellow $duration-pulse  cubic-bezier(1, .14, 1, 1) $iteration-pulse;
    }

    &[aria-hidden='true'] {
      display: none;
    }
  }
}
