@charset "UTF-8";

@import '../../foundation';

.c-clock {
  opacity: .55;
  padding: 0 7px;
  background-color: rgba($colour-black, .8);
  bottom: -10px;
  left: -10px;
  border-bottom: 5px solid $colour-japanese-laurel;
  color: $colour-white;
  font-size: 1.3em;
}
