@charset "UTF-8";

.c-modal {
  position: relative;
  display: block;
  margin: 0 auto;
  border-radius: .3125em;
  width: 480px;
  background-color: #fff;
  padding: 1.25em;

  &__content {
    height: 250px;
    padding: 10px 20px;

    & textarea {
      height: 180px;
      width: 100%;
      max-width: 100%;
      max-height: 250px;
    }
  }

  &__select {
    margin: 10px auto 0;
    width: 80%;
    text-align: center;

    &__btn {
      display: inline-block;
      margin: 10px;
      height: 35px;
      width: 110px;
      border-radius: .25em;
      background-color: #3085d6;
      padding: .55em 10px;
      cursor: pointer;

      &--close {
        background-color: $colour-gray-dark;
      }

      & > span {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.3em;
        font-weight: $font-weight-normal;
        color: $colour-white;
      }
    }
  }
}
