@charset "UTF-8";

@import '../../foundation';

$duration-pulse: 2s;
$iteration-pulse: 30;
$delay-pulse: $duration-pulse * $iteration-pulse;

$duration-pin: 60s * 5;
$iteration-pin: 1;
$delay-pin: $delay-pulse * 2;

.c-pin {
  &__svg {
    &__pin {
      animation: fade-out $duration-pin linear $delay-pin;
      animation-fill-mode: forwards;
    }

    &__ring-inner {
      animation: opacity-pulse-contessa $duration-pulse cubic-bezier(.4, .74, .56, .82) $iteration-pulse, opacity-pulse-yellow $duration-pulse cubic-bezier(.4, .74, .56, .82) $iteration-pulse $delay-pulse;
      opacity: 0;
    }

    &__ring-outer {
      animation: opacity-pulse-contessa $duration-pulse cubic-bezier(1, .14, 1, 1) $iteration-pulse, opacity-pulse-yellow $duration-pulse cubic-bezier(1, .14, 1, 1) $iteration-pulse $delay-pulse;
      opacity: 0;
    }
  }
}

@include opacity-pulse('contessa', $colour-contessa);
@include opacity-pulse('yellow', $colour-yellow);
@include fade-out;
