@charset "UTF-8";

@import '../../foundation';

.c-pin {
  .ring_inner {
    animation: opacity-pulse-contessa 2s cubic-bezier(.4, .74, .56, .82) 30, opacity-pulse-yellow 2s cubic-bezier(.4, .74, .56, .82) 30 60s;
    opacity: .8;
  }

  .ring_outer {
    animation: opacity-pulse-contessa 2s cubic-bezier(1, .14, 1, 1) 30, opacity-pulse-yellow 2s cubic-bezier(1, .14, 1, 1) 30 60s;
    opacity: .5;
  }
}

@include opacity-pulse('contessa', $colour-contessa);
@include opacity-pulse('yellow', $colour-yellow);
