@charset "UTF-8";

@import '../../foundation/index';

.c-title {
  padding: 10px 0;

  @include view-at(p) {
    display: inline-block;
    font-size: 22px;
  }

  @include view-at(s) {
    font-size: 16px;
  }

  &__service {
    display: inline;
    color: $colour-blue;
    margin-right: 8px;
  }
}
