@charset "UTF-8";

@mixin control {
  position: fixed;
  z-index: $z-index-control;
  @content;
}

.l-control {
  &__topleft {
    @include control;
    top: 0;
    left: 0;
    margin: 10px 0 0 10px;
    height: 20px;
    width: 30px;
  }

  &__topright {
    @include control;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;
    height: 20px;
    width: 30px;
  }

  &__bottomleft {
    @include control;
    left: 0;
    bottom: 0;
    pointer-events: none;
  }
}
