@charset "UTF-8";

@import '../foundation';

.l-modal {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: $z-index-modal;

  &[aria-hidden='true'] {
    display: none;
  }

  &__inner {
    width: 100%;
    height: 100%;
    display: table;

    &__content {
      display: table-cell;
      vertical-align: middle;
      background-color: rgba($colour-cod-gray, .7);
    }
  }
}
