@charset "UTF-8";

@import '../foundation';

$side-width: 270px;
$side-gap: 20px;

.l-partition {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  // &__header {}

  // &__side {}

  &__main {
    flex: 1 0 auto;

    &__l-partition__main__background {
      width: 100%;
    }

    &__content {
      position: absolute;
      top: 20%;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }

  // &__footer {}

  // &__notice {}
}
