@charset "UTF-8";

@import '../foundation';

$side-width: 270px;
$side-gap: 20px;

.l-partition {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__header {
    flex: 0 0 auto;

    @include view-at(p) {
      // padding-left: $side-width + $side-gap;
    }
  }

  &__side {
    @include view-at(p) {
      position: fixed;
      top: 0;
      left: 0;
      width: $side-width;
      height: 100%;
      z-index: $z-index-side;
    }

    @include view-at(s) {
      display: none;
    }
  }

  &__main {
    flex: 1 0 auto;

    @include view-at(p) {
      // padding-left: $side-width + $side-gap;
      min-height: 600px;
    }

    @include view-at(s) {
      min-height: 300px;
    }
  }

  &__footer {
    flex: 0 0 auto;
    margin-top: 60px;

    @include view-at(p) {
      // padding-left: $side-width + $side-gap;
    }
  }

  &__notice {
    @media screen {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: $z-index-notice;
    }
  }
}
