@charset "UTF-8";

@import '../foundation';

$side-width: 270px;
$side-gap: 20px;

.l-partition {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  // &__header {}

  // &__side {}

  &__main {
    flex: 1 0 auto;
    height: 100%;
    width: 100%;
    background-image: url(https://i.imgur.com/AtLEgFQ.jpg);
    background-size: cover;

    &__content {
      position: absolute;
      top: 20%;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }

  &__footer {
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
    background-color: rgba($colour-black, 1);
  }

  // &__notice {}
}
